@import "tailwindcss";

@font-face {
    font-family: saurav;
    src: url(./Fonts/font.ttf);
}

@font-face {
    font-family: saurav1;
    src: url(./Fonts/font1.ttf);
}


.text{
    font-family: saurav;
}

.font{
    font-family: saurav1;
}
/* Custom Scrollbar for Chrome, Safari, and Edge */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #000000; 
}

::-webkit-scrollbar-thumb {
  background: #181818; /* Dark gray handle */
  border-radius: 10px;
  border: 2px solid #000000; /* Creates a padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background: #555555; /* Lighter on hover */
}

/* Firefox Support */
* {
  scrollbar-width: thin;
  scrollbar-color: #333333 #000000;
}